html, body {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

body {
  background-color: $background-color;
}

.background-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: linear-gradient($background-color 0%, #a370d3 100%);
}

.main {
  margin-top: 90px;
  background-color: white;

  .wrapper {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
  }
}

.home {
  @include clearfix;

  display: table;
  width: 100%;

  .explainer, .phone-carousel {
    display: table-cell;
    width: 49%;
    vertical-align: top;
  }

  .phone-carousel {
    overflow: hidden;

    .phone {
      float: right;
      margin-right: 20px;
      width: 375px;
      height: 667px;
      overflow: hidden;
      background: rgb(20, 20, 20);

      border: 1px solid #d3d3d3;
      box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);

      $translateX: -33px;
      $translateY: 12px;
      $perspective: 500px;
      $rotateY: 8.3deg;
      $scaleY: 1.1;
      $scaleX: 1.04;

      transform: perspective($perspective) rotateY($rotateY) scale($scaleX, $scaleY) translate($translateX, $translateY);

      .images {
        position: relative;
        width: 9999999px;
        height: 100%;

        transition: margin-left 500ms;

        img {
          float: left;
          height: 100%;
          width: auto;

          transform: scale(0.95);
          transition: transform 250ms;

          &.active {
            transform: scale(1);
          }
        }
      }
    }
  }
}
