html, body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: white;
  height: 100%;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(-80deg, $background-color, #4D628C);
}

footer {
  margin-top: 20px;

  p {
    color: $text-muted-color;

    a, a:active, a:visited {
      color: $text-muted-color;

      &:hover {
        color: white;
      }
    }

    padding: 0;
    margin: 0 auto;
    max-width: 500px;

    text-align: center;
    font-size: 70%;
    line-height: 18px;
  }
}

.hide {
  display: none;
}

.main {
  margin-top: 90px;

  .wrapper {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
  }
}

.home {
  @include clearfix;

  display: table;
  width: 100%;

  .explainer h1 .app-icon {
    float: left;
    height: 58px;
    border-radius: 10px;
    margin-right: 10px;
  }

  .explainer, .phone-carousel {
    display: table-cell;
    width: 49%;
    vertical-align: middle;

    h1 {
      margin-top: 0;
    }
  }

  .features-list {
    list-style-type: disc;
    margin-left: 20px;
  }

  $ratio: 750 / 1334;
  $height: 700px;
  $width: $height * $ratio;

  .phone-container {
    position: absolute;
    height: 800px;
  }

  .phone-carousel {
    overflow: hidden;

    .phone {
      width: $width;
      height: $height;
      overflow: hidden;
      background: rgb(20, 20, 20);

      transform: perspective(500px) skewY(3.4deg) rotateY(4.1deg) scale(0.72, 0.851) translate(0px, 56px);

      .images {
        position: relative;
        width: 99999px;
        height: 100%;

        transition: margin-left 500ms;

        img {
          float: left;
          height: 100%;
          width: auto;

          transform: scale(0.95);
          transition: transform 250ms;

          &.active {
            transform: scale(1);
          }
        }
      }
    }
  }

  form#remind-myself {
    input, button {
      display: inline-block;
      font-size: $scale / 1.5 * 1rem;
    }

    input {
      border-radius: $border-radius;
      border: 1px solid $border-color;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      outline: 0;
      padding: 8px 8px;
    }

    button {
      margin-left: -10px;
      padding: 8px 8px;
      border: 1px solid $border-color;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}
