/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! Typebase.scss v0.1.0 | MIT License */
html {
  font-family: Lato, sans-serif;
  font-size: 112.5%;
  -webkit-font-smoothing: antialiased; }

p {
  line-height: 1.6rem;
  margin-top: 1.6rem;
  margin-bottom: 0; }

ul, ol {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem; }
  ul li, ol li {
    line-height: 1.6rem; }
  ul ul, ul ol, ol ul, ol ol {
    margin-top: 0;
    margin-bottom: 0; }

blockquote {
  line-height: 1.6rem;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem; }

strong {
  font-weight: 600; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.6rem;
  margin-bottom: 0;
  line-height: 1.6rem; }
  h1 + .subtitle, h2 + .subtitle, h3 + .subtitle, h4 + .subtitle, h5 + .subtitle, h6 + .subtitle {
    margin-top: 0.53333rem;
    font-size: 0.8484rem; }

h1 {
  font-size: 2.828rem;
  line-height: 3.2rem;
  margin-top: 3.2rem; }

h2 {
  font-weight: 600;
  font-size: 1.6968rem;
  line-height: 1.92rem; }

h3 {
  font-size: 1.414rem; }

h4 {
  font-size: 0.94267rem;
  font-weight: bold; }

h5 {
  font-size: 0.707rem;
  font-weight: bold; }

h6 {
  font-size: 0.5656rem;
  font-weight: bold; }

small {
  font-size: 80%; }

/* Leading paragraph text */
.lead {
  font-size: 1.414rem; }

/* Hug a the block above you */
.hug {
  margin-top: 0; }

html, body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: white;
  height: 100%; }

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: -webkit-linear-gradient(170deg, #8b82bb, #4D628C);
  background: linear-gradient(-80deg, #8b82bb, #4D628C); }

.background-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(170deg, #8b82bb, #4D628C);
  background: linear-gradient(-80deg, #8b82bb, #4D628C);
  z-index: -1; }

footer {
  margin-top: 100px; }
  footer p {
    color: #c8c8c8;
    padding: 0;
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
    font-size: 70%;
    line-height: 18px; }
    footer p a, footer p a:active, footer p a:visited {
      color: #c8c8c8; }
      footer p a:hover, footer p a:active:hover, footer p a:visited:hover {
        color: white; }
  @media (max-width: 900px) {
    footer {
      margin-top: 0;
      padding: 20px 10px;
      max-width: 100%; }
      footer p {
        font-size: 10px;
        line-height: 12px; } }

.hide {
  display: none; }

.main {
  padding-top: 90px; }
  @media (max-width: 900px) {
    .main {
      padding-top: 20px;
      margin-left: 10px;
      margin-right: 10px; } }
  .main .wrapper {
    margin: 0 auto;
    width: 900px; }

@media (max-width: 900px) {
  .main .wrapper {
    margin: 0;
    width: 100%; } }
.home {
  position: relative;
  display: table;
  width: 100%; }
  .home:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .home .phone-wrapper, .home .phone-container {
    height: 800px;
    width: 364px; }
  .home .phone-carousel .phone {
    width: 393.55322px;
    height: 700px; }
  .home .explainer, .home .phone-wrapper {
    position: relative;
    display: table-cell;
    vertical-align: middle; }
    .home .explainer h1, .home .phone-wrapper h1 {
      margin-top: 0; }
  .home .explainer {
    left: 400px;
    width: 500px;
    padding-left: 20px;
    padding-top: 120px; }
  .home .phone-wrapper {
    left: -500px;
    width: 400px; }
  .home .features-list {
    list-style-type: disc;
    margin-left: 20px; }
  .home .phone-container {
    position: absolute; }
  .home .phone-container, .home .phone-phone {
    pointer-events: none; }
  .home .phone-carousel {
    overflow: hidden; }
    .home .phone-carousel .phone {
      overflow: hidden;
      background: #141414;
      -webkit-transform: perspective(500px) skewY(3.4deg) rotateY(4.1deg) scale(0.72, 0.851) translate(0px, 56px);
              transform: perspective(500px) skewY(3.4deg) rotateY(4.1deg) scale(0.72, 0.851) translate(0px, 56px); }
      .home .phone-carousel .phone .images {
        position: relative;
        width: 99999px;
        height: 100%;
        -webkit-transition: margin-left 500ms;
        transition: margin-left 500ms; }
        .home .phone-carousel .phone .images img {
          float: left;
          height: 100%;
          width: auto;
          -webkit-transform: scale(0.95);
                  transform: scale(0.95);
          -webkit-transition: -webkit-transform 250ms;
          transition: -webkit-transform 250ms;
          transition: transform 250ms;
          transition: transform 250ms, -webkit-transform 250ms; }
          .home .phone-carousel .phone .images img.active {
            -webkit-transform: scale(1);
                    transform: scale(1); }
  @media (max-width: 900px) {
    .home {
      display: block;
      width: 100%; }
    .home .explainer, .home .phone-wrapper {
      position: static;
      display: block;
      width: 100%;
      min-width: 275px;
      vertical-align: top;
      padding: 0; }
    .home .explainer h1 {
      font-size: 38px; }
    .home .phone-wrapper {
      position: relative;
      top: 0;
      left: 0;
      overflow: hidden;
      height: 440px;
      text-align: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      box-sizing: border-box; }
    .home .phone-container {
      position: relative; }
    .home .phone-carousel {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      margin: 0 auto; }
      .home .phone-carousel .phone {
        margin: 0 auto;
        position: relative;
        left: 15px; } }
  @media (max-width: 415px) {
    .home .phone-wrapper {
      height: 280px; }
    .home .phone-container {
      width: 250px;
      height: auto; }
    .home .phone-carousel .phone {
      width: 268.17841px;
      height: 477px;
      -webkit-transform: perspective(500px) skewY(3.8deg) rotateY(4.1deg) scale(0.72, 0.851) translate(-8px, 40px);
              transform: perspective(500px) skewY(3.8deg) rotateY(4.1deg) scale(0.72, 0.851) translate(-8px, 40px); } }
  .home .download-links {
    border-top: 1px solid rgba(255, 255, 255, 0.2); }
    .home .download-links .app-store-badge {
      height: 50px; }
    .home .download-links .app-logo {
      height: 48px;
      width: 48px;
      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 0.5); }
  @media (max-width: 900px) {
    .home .download-links {
      text-align: center;
      margin-bottom: 20px; } }
  .home form#remind-myself input, .home form#remind-myself button {
    display: inline-block;
    font-size: 0.94267rem; }
  .home form#remind-myself input {
    z-index: 2;
    border-radius: 4px;
    border: 1px solid #4D628C;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: 0;
    padding: 8px 8px; }
  .home form#remind-myself button {
    z-index: 2;
    cursor: pointer;
    box-sizing: border-box;
    background: white;
    color: #6273D9;
    font-weight: bold;
    font-size: 14px;
    margin-left: -10px;
    padding: 10px 12px;
    padding-bottom: 9px;
    border: 1px solid #4D628C;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-transition: background 200ms, color 200ms;
    transition: background 200ms, color 200ms; }
    .home form#remind-myself button:disabled {
      background: #efefef;
      color: #8e8cd9;
      cursor: not-allowed; }
  .home form#remind-myself .input-with-error {
    display: inline-block;
    vertical-align: top; }
    .home form#remind-myself .input-with-error .error {
      margin-top: -26px;
      z-index: 0;
      position: relative;
      padding: 4px 2px;
      padding-top: 6px;
      margin-left: 2px;
      margin-right: 2px;
      text-align: center;
      font-size: 12px;
      font-weight: bold;
      background: #c90604;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      border: 1px solid #a00000;
      -webkit-transition: margin 100ms;
      transition: margin 100ms; }
    .home form#remind-myself .input-with-error input, .home form#remind-myself .input-with-error button {
      position: relative; }
    .home form#remind-myself .input-with-error.showing-error .error {
      margin-top: -6px; }
    .home form#remind-myself .input-with-error.showing-error input, .home form#remind-myself .input-with-error.showing-error button {
      border-color: #a00000; }
    .home form#remind-myself .input-with-error.showing-error input {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0; }
    .home form#remind-myself .input-with-error.showing-error button {
      border-bottom-right-radius: 0; }
